/* Hero Section */

.hero-section{
    margin: 8rem auto;
    padding: 0 100px;
    display: grid;
    grid-template-columns: 45% 35%;
    align-items: center;
    justify-content: center;
    grid-gap: 5rem;    
}
.hero-section h1{
    color: #222;
    font-family: Prata;
    font-weight: 400;
    font-size: 73px;
    line-height: 145%;
    letter-spacing: -1.46px;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.hero-section p{
    color: #7A7A7A;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 220%;
    letter-spacing: 0.64px;
}
.button{
    display: inline-block;
    margin-top: 75px;
    padding: 12px 56px 14px 35px;
    color: #111;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 220%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    border: #ccc 2px solid;
    cursor: pointer;

}
.button:hover,
.button:active{
    background-color: #f9f9f9;
    border: #b8b7b7 2px solid;
}
/* partners */
.partners{
    background: #EDEBE4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 272px;
    margin-top: 170px;
}
.partners div{
    margin: 0 36px;
    padding: 5px;
    width: 225px;
    height: 125px;
    padding: 16px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.partners div img{
    height: 100px;
}
.partners div p{
    color: #94928B;
    text-align: center;
    font-family: Garamond;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.img2 img{
    margin-bottom: 9.8px;
}

/* feature section */

.featured{
    margin: 11.25rem auto;
    width: 100vw;
}
.feature-description{
    color: #7A7A7A;
    text-align: center;
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 0.0975rem;
    text-transform: uppercase;
}
.feature-title{
    color: #111;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 1.25rem;
    font-family: Prata;
    
}
.featured-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.44rem;
    margin-top: 3.55rem;
}
.featured-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.img-container{
    width: 21.375rem;
    height: 28.3125rem;
    padding: 2.56rem 3.38rem 3.87rem 1.2rem;
    border: 1px solid #EAE8DF;
    background: #EFEEE8;
    vertical-align: top;
}
.featured-img{
    width: 18.3125rem;
    height: 24.3125rem;
}
.item-title{
    margin-top: 1.5rem;
    color: #74642F;
    text-align: center;
    font-family: Prata;
    font-size: 1.375rem;
    font-weight: 400;
    text-transform: capitalize;
}
.item-sub__title{
    margin-top: 0.5rem;
    color: #888;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.0175rem;
    text-transform: capitalize;
}
.item-price{
    margin-top: 1.25rem;
    color: #74642F;
    text-align: center;
    font-family: Prata;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.0225rem;
    text-transform: capitalize;
}
hr {
    width: 70vw;
    margin: 6rem auto;
  
}

/* best seller */

.best-seller{
    margin-top: 16.31rem;
    background-color: #EDEBE4;
    display: flex;
    width: 110rem;
    gap: 9.8125rem;
    height: 56.75rem;
    align-items: center;
    justify-content: center;
}
.best-seller__info{
    display: flex;
    flex-direction: column;
}
.best-seller__heading{
    color: #111;
    font-family: Prata;
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
}
.best-seller__heading+img{
    width: 2.875rem;
    height: 0.3125rem;
    margin-top: 0.56rem;
}
.best-seller__author{
    color: #888;
    font-family: "Plus Jakarta Sans";
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    margin-top: 3.63rem;
}
.best-seller__title{
    color: #111;
    font-family: Prata;
    font-size: 1.75rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 1.87rem;
}
.best-seller__title + p{
    color: #7A7A7A;
    width: 30.375rem;
    height: 4.125rem;
    font-family: "Plus Jakarta Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 208%; 
    letter-spacing: 0.02rem;
    margin-bottom: 2.19rem;
}
.best-seller__price{
    color: #74642F;
    font-family: Prata;
    font-size: 1.4375rem;
    font-weight: 400;
    letter-spacing: 0.02875rem;
    text-transform: capitalize;
}
.best-seller__cta{
    display: flex;
    align-items: center;
    margin-top: 3.63rem;
    gap: 0.5rem;
}
.cta{
    color: #111;
    font-family: "Plus Jakarta Sans";
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    text-transform: capitalize;
    
}
.best-seller__cta img{
    width: 0.875rem;
    height: 0.5rem;
}

/* popular section */

.popular{
    margin:  11.25rem auto;
    width:80vw ;
    height: 92.5625rem;
}
.popular-header{
    color: #7a7a7a;
    font-family: "Plus Jakarta Sans";
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.0975rem;
}
.popular-title{
    color: #111111;
    font-family: Prata;
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.065rem;
    text-align: center;
    text-transform: capitalize;
    margin-top: 1.1875rem;
}
.popular-nav__items{
    margin: 3.5625rem auto ;
    list-style: none;
    width: 51.8125rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.popular-nav__item a{
    text-decoration: none;
    color: #7a7a7a;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    letter-spacing: 0.64px;
}
.popular-nav__items > .popular-nav__item{
    color: #111111;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4,343px);
    grid-template-rows: repeat(2,35.125rem);
    grid-row-gap: 2rem;
    grid-column-gap: 2.4rem;
}
.gallery-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container{
    width: 100%;
    padding: 3.625rem 3.3125rem;
    height: 27.3125rem;
    border: 1px solid #eae8df;
    background: #efeee8;
}
.image-container img{
    width: 230.35px;
    height: 321px;
    box-shadow: 2px 4px 30px rgba(115,114,109,0.25);
}
.book-title{
    margin-top: 1.6875rem;
    color: #111111;
    font-family: Prata;
    font-size: 22px;
    font-weight: 400;
    line-height: 29.81px;
    text-transform: capitalize;
}
.book-author{
    margin-top: 18px;
    color: #888888;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-transform: capitalize;
    letter-spacing: 0.28px;
}
.popular-price{
    margin-top: 20px;
    color: #74642f;
    font-family: Prata;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.39px;
    text-transform: capitalize;
    letter-spacing: 0.36px;
}