@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
/* General Styles */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: grid;
    grid-template-rows: 3.44rem 5rem auto 6.25rem;
    grid-template-columns: 100vw;
    grid-template-areas:
    "banner"
    "nav"
    "main"
    "footer";
}
/* styles for banner */
.banner{
    background-color: #fafafa;
    grid-area: banner;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   font-family: inherit ;
   padding: 1.25rem 6.25rem;
}
.social{
    display: flex;
    width: 10.625rem;
    height: 1.25rem;
}
.social img{
    margin: 0 0.5rem;
    opacity: 0.35;
    cursor: pointe;
}
.tags {
    display: flex;
    font-size: 0.75rem;

}
.tags div{
    color: #7777;
    padding-left: 3.25rem;
    cursor: pointer;
}
/* main header */
.main-header{
    grid-area: nav;
    position: sticky;
    top: 0;
}
/* Styles for nav */
.main-nav{
    background: #ffffff;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 6.25rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.12rem;    
}
.logo{
    font-family: "Cormorant Unicase", serif;
    letter-spacing: -0.92px;
    font-size: 2.875rem;
    font-weight: 400;
}
.highlighted__logo{
    font-weight: 700;
}
.main-nav_items{
    display: flex;
    list-style: none;
    height: 1.25rem;
    width: 693px;
    justify-content: flex-end;
}
.main-nav__item{
    margin: 0 1rem;
    font-size:1.1rem;
    cursor: pointer;
}
.main-nav__item:hover,
.main-nav__item:active{
    color: #6d6c6c;
}
/* main */
main{
    grid-area:main;
}
/* Footer */
.main-footer{
    background: #F3F2EC;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo{
    color: #0A0A0A;
    font-family: "Cormorant Unicase";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.92px;
    text-transform: uppercase;
}
.highlighted__logo{
    font-weight: 400;
}
.footer-container{
    display: flex;
    column-gap: 263PX;
    width: 87vw;
}
.footer-sections{
    display: flex;
    column-gap: 115px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}
.footer-link{
    display: flex;
    flex-direction: column;
}
.footer-link a{
    text-decoration: none;
    color: #777;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 230%;
    letter-spacing: 1.6px;
    text-transform: uppercase; 
}
.footer-link a:hover,
.footer-link a:active{
    color: #111;
}
.link-header a{
    text-decoration: none;
    color: #111;
    font-family: Prata;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: capitalize;
    margin-bottom: 33px;
}