@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');
/* General Styles */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: grid;
    grid-template-rows: 55px 81px auto 100px;
    grid-template-areas:
    "banner"
    "header"
    "main"
    "footer";
}
/* main header */

/* styles for banner */
.banner{
    background-color: #F3F2EC;
    grid-area: banner;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: inherit ;
   padding: 20px 100px;
}
.social{
    display: flex;
    width: 170px;
    height: 20px;
}
.social img{
    margin: 0 0.5rem;
    opacity: 0.35;
    cursor: pointe;
}
.tags {
    display: flex;
    font-size: 12px;

}
.tags div{
    color: #7777;
    padding-left: 52px;
    cursor: pointer;
}
/* Styles for Nav */
.main-nav{
    background: #F3F2EC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 100px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.92px;
}
.logo{
    font-family: "Cormorant Unicase", serif;
    letter-spacing: -0.92px;
    font-size: 46px;
    font-weight: 400;
}
.highlighted__logo{
    font-weight: 700;
}
.main-nav_items{
    display: flex;
    list-style: none;
    height: 20px;
    width: 693px;
    justify-content: flex-end;
}
.main-nav__item{
    margin: 0 1rem;
    font-size:1.1rem;
}
/* Hero Section */
.hero-section{
    background-color: #F3F2EC;
}